<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
</head>

<body>
  <style>
    table,
    th,
    td {
      border: 2px solid black;
      border-collapse: collapse;
      padding: 5px;
    }

    .title {
      text-align: center;
      padding-bottom: 15px;
      width: 100%;
    }

    .title h3 {
      display: inline;
    }

    .table-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .table-container>table {
      width: 100%;
    }

    .cell-red {
      background-color: #97161618 !important;
    }

    .cell-blue {
      background-color: #1638972c !important;
    }

    .qr-code {
      margin-top: 0px;
      margin-bottom: 8px;
      display: flex;
    }

    .qr-code svg {
      width: 100px;
      height: 100px;
    }

    .header {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
    }
  </style>
  <div class="header">
    <div class="title">
      <h3>{{title}}</h3>
      <br /><i>{{subtitle}}</i><br />
    </div>
    {{#qrCodeSvg}}
    <div class="qr-code">
      {{{qrCodeSvg}}}
    </div>
    {{/qrCodeSvg}}
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th colspan=3>Red Corner</th>
          <th colspan=3>Blue Corner</th>
          <th>Duration</th>
          <th>Gender</th>
        </tr>
      </thead>
      {{#fights}}
      <tr>
        <td>{{order}}</td>
        <td class="cell-red">{{boxer1License}}</td>
        <td class="cell-red">{{boxer1FirstName}} {{boxer1LastName}}</td>
        <td class="cell-red">{{boxer1Club}}</td>
        <td class="cell-blue">{{boxer2License}}</td>
        <td class="cell-blue">{{boxer2FirstName}} {{boxer2LastName}}</td>
        <td class="cell-blue">{{boxer2Club}}</td>
        <td>{{fightDuration}}</td>
        <td>{{gender}}</td>
      </tr>
      {{/fights}}
    </table>
  </div>
</body>

</html>