<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <style type="text/css">
    /* Restrict page to A4 landscape max-width for PDF export */
    .a4-landscape {
      max-width: 297mm;
      font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
    }

    /* Ensure all table borders are solid black */
    table.table,
    table.table th,
    table.table td {
      border: 2px solid #000 !important;
      border-collapse: collapse;
    }


    .cell-red {
      background-color: #97161618 !important;
    }

    .cell-blue {
      background-color: #1638972c !important;
    }

    .qr-code,
    .qr-code svg {
      width: 100px;
      height: 100px;
    }
  </style>
</head>

<body>
  <div class="a4-landscape m-auto">
    <div class="header d-flex">
      {{#qrCodeSvg}}
      <div class="qr-code"></div>
      {{/qrCodeSvg}}
      <div class="w-100 text-center">
        {{#downloadOptions.displayTitle}}
        <div class="d-flex align-items-baseline justify-content-center">
          <span class="fs-2">{{title}}</span>
          {{^qrCodeSvg}}
          <span class="fs-5 ms-1 me-1">-</span>
          <span class="fs-5">{{subtitle}} - {{formattedAddress}}</span>
          {{/qrCodeSvg}}
        </div>
        {{#qrCodeSvg}}
        <div>
          <span class="fs-5">{{subtitle}} - {{formattedAddress}}</span>
        </div>
        {{/qrCodeSvg}}
        {{/downloadOptions.displayTitle}}
      </div>
      {{#qrCodeSvg}}
      <div class="qr-code">
        {{{qrCodeSvg}}}
      </div>
      {{/qrCodeSvg}}
    </div>
    <table class="table table-sm table-bordered align-middle lh-1">
      <thead class="table-light">
        <tr class="text-center">
          <th>{{i18n.order}}</th>
          <th colspan={{cornerColspan}}>{{i18n.red_corner}}</th>
          <th colspan={{cornerColspan}}>{{i18n.blue_corner}}</th>
          {{#downloadOptions.displayDuration}}<th>{{i18n.duration}}</th>{{/downloadOptions.displayDuration}}
          {{#downloadOptions.displayGender}}<th>{{i18n.gender}}</th>{{/downloadOptions.displayGender}}
        </tr>
      </thead>
      <tbody>
        {{#fights}}
        <tr>
          <td>{{order}}</td>
          <!-- Red License -->
          {{#downloadOptions.displayLicense}}
          <td class="cell-red">{{boxer1License}}</td>
          {{/downloadOptions.displayLicense}}
          <!-- Red Category -->
          {{#downloadOptions.displayCategory}}
          <td class="cell-red">{{boxer1Category}}</td>
          {{/downloadOptions.displayCategory}}
          <!-- Red Name -->
          <td class="cell-red">{{boxer1FirstName}} {{boxer1LastName}}</td>
          <!-- Red Weight -->
          {{#downloadOptions.displayWeight}}
          <td class="cell-red text-nowrap">{{boxer1Weight}}</td>
          {{/downloadOptions.displayWeight}}
          <!-- Red Birthdate -->
          {{#downloadOptions.displayBirthdate}}
          <td class="cell-red">{{boxer1Birthdate}}</td>
          {{/downloadOptions.displayBirthdate}}
          <!-- Red Gym -->
          <td class="cell-red">{{boxer1Club}}</td>
          <!-- Blue License -->
          {{#downloadOptions.displayLicense}}
          <td class="cell-blue">{{boxer2License}}</td>
          {{/downloadOptions.displayLicense}}
          <!-- Blue Category -->
          {{#downloadOptions.displayCategory}}
          <td class="cell-blue">{{boxer2Category}}</td>
          {{/downloadOptions.displayCategory}}
          <!-- Blue Name -->
          <td class="cell-blue">{{boxer2FirstName}} {{boxer2LastName}}</td>
          <!-- Blue Weight -->
          {{#downloadOptions.displayWeight}}
          <td class="cell-blue text-nowrap">{{boxer2Weight}}</td>
          {{/downloadOptions.displayWeight}}
          <!-- Blue Birthdate -->
          {{#downloadOptions.displayBirthdate}}
          <td class="cell-blue">{{boxer2Birthdate}}</td>
          {{/downloadOptions.displayBirthdate}}
          <!-- Blue Gym -->
          <td class="cell-blue">{{boxer2Club}}</td>
          <!-- Duration -->
          {{#downloadOptions.displayDuration}}<td>{{fightDuration}}</td>{{/downloadOptions.displayDuration}}
          <!-- Gender -->
          {{#downloadOptions.displayGender}}<td>{{gender}}</td>{{/downloadOptions.displayGender}}
        </tr>
        {{/fights}}
      </tbody>
    </table>
  </div>
</body>

</html>