DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=battlecard
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL=http://localhost:5173/api/auth/google/callback
JWT_SECRET=''
IMPORT_API_URL=https://my.import.api.local/getBoxerById?id={id}
IMPORT_API_HEADER_X_API_KEY=
GOTENBERG_URL=http://gotenberg:3000