BATTLECARD_jwtSecret=
BATTLECARD_importApiUrl=
BATTLECARD_importApiHeaderXApiKey=
BATTLECARD_gotenbergUrl=
BATTLECARD_websiteBaseUrl=
BATTLECARD_geoapifyApiKey=
BATTLECARD_enableOpenApi=
BATTLECARD_googleClientId=
BATTLECARD_googleClientSecret=
BATTLECARD_googleCallbackUrl=
BATTLECARD_dbHost=
BATTLECARD_dbPort=
BATTLECARD_dbUser=
BATTLECARD_dbPassword=
BATTLECARD_dbName=

SEED_INITIAL_USERNAME=
SEED_INITIAL_NAME=
SEED_INITIAL_PICTURE=
