# Geoapify API key for address autocomplete (optional)
BATTLECARD_geoapifyApiKey=

# PostgreSQL database host
BATTLECARD_dbHost=
# PostgreSQL database port
BATTLECARD_dbPort=
# PostgreSQL database username
BATTLECARD_dbUser=
# PostgreSQL database password
BATTLECARD_dbPassword=
# PostgreSQL database name
BATTLECARD_dbName=


# Secret key used for signing Express cookies
BATTLECARD_sessionSecret=

# Session time-to-live in hours (e.g., 24 for 1 day, default: 24)
BATTLECARD_sessionTtl=24

# URL for the external import API service
BATTLECARD_importApiUrl=
# API key header value for the external import API
BATTLECARD_importApiHeaderXApiKey=
# URL for the Gotenberg PDF generation service
BATTLECARD_gotenbergUrl=

# Base URL of the website for generating links
BATTLECARD_websiteBaseUrl=
# Environment in which the application is running (development or production)
BATTLECARD_environment=
# Flag to enable or disable OpenAPI documentation (true or false)
BATTLECARD_enableOpenApi=
# Secret used for sharing fight cards
BATTLECARD_fightCardShareSecret=

# OAuth provider configuration - Google example
BATTLECARD_oauth.google.clientId=
# OAuth lient secret
BATTLECARD_oauth.google.clientSecret=
# OAuth issuer URL
BATTLECARD_oauth.google.issuerUrl=
# OAuth user info URL
BATTLECARD_oauth.google.userInfoUrl=
# OAuth token URL
BATTLECARD_oauth.google.tokenUrl=
# OAuth scopes (space-separated)
BATTLECARD_oauth.google.scope=
# Provider display name, presented to users
BATTLECARD_oauth.google.displayName=

# Initial seed user (optional)
SEED_INITIAL_USERNAME=
SEED_INITIAL_NAME=
SEED_INITIAL_PICTURE=
